.box {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  /* margin-top: 1rem; */
  padding-top: 0.3rem;
  text-align: start;
  
}


.bttn {
  padding-top: 0.4rem;
  font-weight: 700;
  margin-top: 1.9rem;
  border: solid 1px white;
  color: white;
  border-radius: 25px;
  background-color: #8439cc;
  cursor: pointer;
  transition: all 0.3s;
  width: 6rem;
  padding: 1rem;
}

.bttn:hover {
  box-shadow: 0rem 0.8rem 0.6rem rgba(0, 0, 0, 0.4);
}

.bttn:active {
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 400px){
  .mainBox {
    display: none;
  }

  .box {
    display: none;
  }
}
