.name {
  text-align: start;
  margin-left: 3rem;
}

.coin {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  margin-top: 3rem;
  margin-left: 2rem;
  text-align: start;
}

.span {
  display: inline-block;
  color: black;
  font-weight: 900;
  font-size: 1.4rem;
  padding: 1.4rem 0rem;
}

.p {
  display: inline;
  color: black;
  font-weight: 400;
  padding-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .name {
        text-align: start;
        margin-left: .5rem;
      }
  
    .coin {
    margin-left: 0rem;
  }

  .span {
    display: inline-block;
    color: black;
    font-weight: 600;
    font-size: 1rem;
   
  }
  
  .p {
    display: inline;
    color: black;
    font-weight: 400;
    padding-left: 0.5rem;
    font-size: .8rem;
    cursor: pointer;
  }

}
