.page1 {
  width: 100vw;
  height: 100vh;
  /* filter: blur(6px); */
  display: flex;

  justify-content: space-between;
  box-sizing: border-box;

  background-color: #3c1161;

  /* margin: 0;
    padding: 0; */
}

@media only screen and (max-width: 415px) {
  .page1 {
    background-image: url("./pageSmall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
