.container {
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
  position: fixed;
  top: 0%;
  box-sizing: border-box;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 25rem;
  backdrop-filter: blur(4px);
 
}

.detailBox {
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
  align-items: center;
  width: 50%;
  height: 50%;
  position: relative;

  background-color: #3c1161;
  border-radius: 25px;
  margin: 10rem auto 2rem auto;
}

.paraBox{
  padding-right: 8rem;
  color: white;
  display: flex;
  position: relative;
  right: 20%;
}

.img{
  /* padding-left: 5rem; */
  position: absolute;
  left: 150%;
}





.bttn {
  position: absolute;
  top: 80%;
  display: block;
  font-weight: 700;
  margin: 0.8rem 0rem 0rem 6rem;
  border: solid 1px white;
  color: white;
  border-radius: 25px;
  background-color: transparent;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.signup {
  /* padding: 5rem; */
  background-image: linear-gradient(to right bottom, #fe8b79, #fdb41b);
  border: none;
  margin-right: 6rem;
}

.bttn:hover {
  box-shadow: 0rem 0.8rem 0.6rem rgba(0, 0, 0, 0.4);
}

.bttn:active {
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
}
